@model List<VMS.Models.Opportunity>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Opportunity</title>
    <link rel="stylesheet" href="" /> @*need a stylesheet*@
</head>
<body>
    <nav class="TOPnavbar">
        <ul>



        </ul>
    </nav>
    @foreach (var opp in Model)
    {
    <div class="panel-heading text-center"><h4>Opportunity Creation</h4>
    <div class="panel-body">
        <form class="p-a-1" asp-action="CreateOpportunity" method="post">
            <div class="form-group">
                <label asp-for="OpportunityID">Opportunity ID:</label>
                <input class="form-control" asp-for="@opp.OpportunityID" />
            </div>
            <div class="form-group">
                <label asp-for="Center">Center Name:</label>
                <input class="form-control" asp-for="@opp.Center" />
             </div>
            <div class="form-group">
                <label asp-for="Description">Description:</label>
                <input class="form-group" asp-for="@opp.Description" />
             </div>
            <div class="form-group">
                <label asp-for="DateEntered">Date Entered:</label>
                <input class="form-group" asp-for="@opp.DateEntered" />
            </div>
            <div class="form-group">
                <label asp-for="DateExpired">Date Expired:</label>
                <input class="form-group" asp-for="@opp.DateExpired" />
            </div>
            <div class="form-group">
                <label asp-for="ContactName">Contact Name:</label>
                <input class="form-group" asp-for="@opp.ContactName" />
            </div>
        </form>
              
    </div>
    </div>
    }
</body>
</html>
